
  
  .gallery-item {
    position: relative;
    overflow: hidden;
    border: 5px solid #2e7e0f; /* Marco alrededor de cada imagen */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el marco */
    height: 100%; /* Para asegurar que ocupen toda la altura disponible */
    max-height: 600px; /* Ajusta este valor a la altura máxima deseada */
  }
  
  .gallery-item img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: auto;
  }
  
  .gallery-item:hover img {
    transform: scale(1.1);
  }
  
  .gallery-links {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .gallery-item:hover .gallery-links {
    opacity: 1;
  }
  
  .details-link {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
  }
  
  .scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
  }
  
  .scroll-top.active {
    display: flex;
  }
  
  .scroll-top i {
    font-size: 24px;
  }
  
  @media (max-width: 768px) {
    .details-link {
      font-size: 1rem;
    }
  
    .gallery-item img {
      width: 100%;
    }
    
    .gallery-links {
      opacity: 1; /* Asegura que el texto sea visible en dispositivos móviles */
    }
  }
  
  .container-fluid {
    padding: 0 15px; /* Ajuste del padding */
  }
  
  .row {
    margin: 0; /* Eliminar margen */
  }
  
  .col-md-6 {
    padding: 15px; /* Ajuste del padding para mejor presentación */
  }
  