.reflex-container {
  height: 100vh;
}

.reflex-splitter {
  background-color: #eee;
  border: 1px solid #ccc;
}

.reflex-element {
  overflow: auto;
}

.split-pane .reflex-splitter {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.split-pane .reflex-splitter:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  background: #000;
}

.split-pane .reflex-splitter.vertical {
  width: 10px;
  cursor: col-resize;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
}

.split-pane .reflex-splitter.horizontal {
  height: 10px;
  cursor: row-resize;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
}

.form-input {
  max-width: 300px;
}

.content-container {
  display: flex;
  justify-content: flex-start;
}

.content-container h1 {
  margin-right: auto;
}

.title-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  height: 90vh;
  margin: auto 0;
  background-color: white;
}

.submit-button {
  width: 300px;
  background-color: green;
}

@media (max-width: 600px) {
  .reflex-container {
    flex-direction: column;
  }

  .reflex-splitter {
    width: 100%;
    height: 10px;
    cursor: row-resize;
  }

  .form-section {
    max-width: 300px;
    height: auto;
  }

  .submit-button {
    width: 150px;
    font-size: 0.8em;
  }

  .form-input {
    max-width: 150px;
  }

  .title-section {
    flex-direction: column;
    align-items: center;
  }
}