.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.Login form {
    width: 50%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
}

body{
  background: rgb(255, 255, 255);

}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  margin-bottom: 20px;
}


.submit-button {
  width: 100%;
  background-color: green;
}